<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fuge.xyin.dao.VideoDao">
	<resultMap id="BaseResultMap" type="com.fuge.xyin.domain.VideoMb">
		<result column="id" property="id" />
		<result column="videotitle" property="videotitle" />
		<result column="videoname" property="videoname" />
		<result column="videocontent" property="videocontent" />
		<result column="videourl" property="videourl" />
		<result column="userid" property="userid" />
		<result column="updatetime" property="updatetime" />
		<result column="browernum" property="browernum" />
		<result column="province" property="province" />
		<result column="city" property="city" />
		<result column="universityid" property="universityid" />
		<result column="videopic" property="videopic" />
		<result column="praisenum" property="praisenum" />
		<result column="favoritenum" property="favoritenum" />
		<result column="score" property="score" />
		<result column="videoclass" property="videoclass" />
		<result column="videoduration" property="videoduration" />
	</resultMap>

	<parameterMap id="VideoMb" type="com.fuge.xyin.domain.VideoMb"/>

	<sql id="Base_Column_List">
		id,videotitle,videoname,videocontent,videourl,userid,updatetime,browernum,province,city,universityid,videopic,praisenum,favoritenum,score,videoclass,videoduration
	</sql>

	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from video
		where id = #{id}
	</select>

	<select id="findAllVideo" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from video
	</select>

	<insert id="saveVideo" parameterMap="VideoMb" useGeneratedKeys="true" keyProperty="id">
		insert into
		video(id,videotitle,videoname,videocontent,videourl,userid,updatetime,browernum,province,city,universityid,videopic,praisenum,favoritenum,score,videoclass,videoduration)
		values
		(#{id},#{videotitle},#{videoname},#{videocontent},#{videourl},#{userid},#{updatetime},#{browernum},#{province},#{city},#{universityid},#{videopic},#{praisenum},#{favoritenum},#{score},#{videoclass},#{videoduration})
	</insert>

	<update id="updateVideo" parameterMap="VideoMb">
		update
		video
		set
		<if test="provinceId!=null">
			province_id = #{provinceId},
		</if>
		<if test="cityName!=null">
			city_name = #{cityName},
		</if>
		<if test="description!=null">
			description = #{description}
		</if>
		where
		id = #{id}
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		delete from
		video
		where
		id = #{id}
	</delete>

</mapper>
